<?xml version ="1.0"encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Gaokao.dao.CollegeInfoMapper">

    <resultMap type="com.Gaokao.entity.CollegeInfo" id="collegeResultMap">
        <id property="id" column="college_id" />
        <result property="name" column="college_name" />
        <result property="type" column="type_id" />
        <result property="detail" column="college_detail" />
        <result property="cc" column="college_cc" />
    </resultMap>
    <select id="getAllCollege"  resultMap="collegeResultMap">
        select * from college
    </select>
    <select id="getCollegeByName"  resultMap="collegeResultMap">
        <bind name="pattern" value="'%' + _parameter + '%'" />
        select * from college
        where college_name like #{pattern}
    </select>
    <select id="getCollegeById"  resultMap="collegeResultMap">
	select * from college
	where college_id=#{id}
    </select>
    <insert id="addCollege"  parameterType="com.Gaokao.entity.CollegeInfo">
	insert into college(college_id,college_name,sf,college_detail)
	values(#{id},#{name},#{sf},#{detail})
    </insert>
    <delete id="deleteCollege" parameterType="com.Gaokao.entity.CollegeInfo">
        DELETE FROM college WHERE  college_id = #{id}
    </delete>
    <update id="updateCollege" parameterType="com.Gaokao.entity.CollegeInfo">
        update college
        set college_name = #{name},sf = #{sf},college_detail = #{detail}
        where college_id = #{id}
    </update>
</mapper>