<?xml version ="1.0"encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Gaokao.dao.CollegePlanMapper">

    <resultMap type="com.Gaokao.entity.CollegePlanInfo" id="collegePlanResultMap">
        <id property="zsId" column="zs_id" />
        <result property="collegeId" column="college_id" />
        <result property="collegeName" column="college_name" />
        <result property="sf" column="sf" />
        <result property="totalRecord" column="total" />
        <result property="majorId" column="major_id" />
        <result property="majorName" column="major_name" />
        <result property="scoreLine" column="score_line" />
    </resultMap>
    <select id="getPlanById"  resultMap="collegePlanResultMap">
        select c1.*,c2.college_name,c2.sf from college_zsjh c1,college c2
        where c1.college_id =c2.college_id and c1.zs_id=#{zsid}
    </select>
    <select id="getAllCollegePlan"  resultMap="collegePlanResultMap">
        select c1.*,c2.college_name,c2.sf from college_zsjh c1,college c2
        where c1.college_id =c2.college_id
    </select>
    <select id="getPlanByCollegeName"  resultMap="collegePlanResultMap">
        <bind name="pattern" value="'%' + _parameter + '%'" />
        select c1.*,c2.college_name from college_zsjh c1,college c2
        where c1.college_id =c2.college_id and c2.college_name like #{pattern}
    </select>
    <select id="getCollegeRankByType"  resultMap="collegePlanResultMap">
        select c1.*,c2.college_name,c2.sf from college_zsjh c1,college c2,college_rank cr
        where c1.college_id =c2.college_id and cr.college_id=c2.college_id and cr.type=#{type}
        order by cr.rank
    </select>
    <select id="getAllPlan"  resultMap="collegePlanResultMap">
        select  c1.*,c2.college_name,c2.sf from college_zsjh c1,college c2,college_rank cr
        where c1.college_id =c2.college_id and cr.college_id=c2.college_id
        <if test='_parameter.get("0")!=""'>
            and    c2.college_name like #{0}
        </if>
        <if test='_parameter.get("1")!=""'>
        and cr.type=#{1}
        order by cr.rank
        </if>
    </select>
    <select id="getAllSuitPlan"  resultMap="collegePlanResultMap" parameterType="Map">
        select COUNT(1) OVER() AS total, c1.*,c2.college_name,c2.sf,(o.yfyf_lj-c1.num)dislocation from college_zsjh c1,college c2,college_rank cr,onepoint o
        where c1.college_id =c2.college_id and cr.college_id=c2.college_id and FLAG = 1 and o.year = 2017 and o.yfyd_score = #{totalScore}
        and c1.zs_id in
        (
        SELECT zs_id from college_choose_subject
        where zs_id NOT in
        (
        SELECT zs_id from college_choose_subject
        where xkkm not in (#{xkkm1},#{xkkm2},#{xkkm3},#{bxkm})
        )
        )
        <if test='collegeName!=""'>
            and    c2.college_name like #{collegeName}
        </if>
        <if test='majorName!=""'>
            and    c1.major_name like #{majorName}
        </if>
        <if test='type!=""'>
            and cr.type=#{type}
        </if>
        <if test='prior==0'>
            order by dislocation DESC,cr.rank
        </if>
        <if test='prior==1'>
            order by cr.rank,dislocation DESC
        </if>
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
</mapper>