<?xml version ="1.0"encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Gaokao.dao.ExamScoreInfoMapper">

    <resultMap type="com.Gaokao.entity.ExamScoreInfo" id="scoreResultMap">
        <id property="subjectId" column="kid" />
        <result property="subjectName" column="cname" />
        <result property="score" column="score" />
    </resultMap>
    <select id="getScoreByUid"  resultMap="scoreResultMap">
        select * from exam_score where uid=#{id}
    </select>


</mapper>