<?xml version ="1.0"encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Gaokao.dao.MajorInfoMapper">

    <resultMap type="com.Gaokao.entity.MajorInfo" id="majorResultMap">
        <id property="id" column="major_id" />
        <result property="name" column="major_name" />
    </resultMap>
    <select id="getAllMaj"  resultMap="majorResultMap">
        select * from major
    </select>

</mapper>