<?xml version ="1.0"encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Gaokao.dao.UserBaseInfoMapper">

    <resultMap type="com.Gaokao.entity.UserBaseInfo" id="userResultMap">
        <id property="id" column="uid" />
        <result property="realName" column="relname" />
        <result property="loginName" column="login_name" />
        <result property="passwd" column="password" />
    </resultMap>
    <select id="getUserByName"  resultMap="userResultMap">
        select * from user_base_info where login_name=#{loginName}
    </select>
    <select id="getUserById"  resultMap="userResultMap">
        select * from user_base_info where uid=#{id}
    </select>
    <insert id="addUser"  parameterType="com.Gaokao.entity.UserBaseInfo">
	insert into user_base_info(login_name,password)
	values(#{loginName},#{passwd})
    </insert>
    <update id="updateUserInfo" parameterType="com.Gaokao.entity.UserBaseInfo">
    update
    user_base_info
    set login_name=#{1},password=#{2}
    where
    uid=#{0}
</update>

</mapper>