#pageCount{
    margin-top: 15px;
    font-size: 15px;
    float:  right;
}
.licy-btn {
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    outline-style: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    background-image: none;
    color: #333;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-size: 12px;
    line-height: 25px;
    cursor: pointer;
    /* ie6/ie7 inline-block hack */
    *zoom: 1;
    *display: inline;
}
.licy-btn-primary {
    border-color: #2e6da4;
    background-color: #337ab7;
    color: #fff;
}

.majorTd{
    white-space: nowrap;
    overflow: scroll;
}